.coverage
.coverage.*
pyrate_limiter.egg-info/
__pycache__/
dist/
docs/_build/
docs/modules/
htmlcov/
env/
test-reports/
.vim/
.vscode/
.idea/
.coveralls.yml
.DS_Store

.venv
xdg_cache
*\.sqlite*

_build_html
coverage.xml
