[tool.poetry]
name = "pyrate-limiter"
version = "2.6.3"
description = "Python Rate-Limiter using Leaky-Bucket Algorimth Family"
authors = ["vutr <me@vutr.io>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/vutran1710/PyrateLimiter"
repository = "https://github.com/vutran1710/PyrateLimiter"
keywords = ["rate", "rate-limiter", "rate_limiter", "ratelimiter", "leaky-bucket", "ratelimit", "ratelimiting"]
classifiers = [
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Documentation",
    "Topic :: Software Development :: Libraries :: Python Modules",
]
include = [
    "LICENSE",
]

[tool.poetry.dependencies]
python = "^3.6.2"

[tool.poetry.dev-dependencies]
pytest-asyncio = "^0.12"
logzero = "^1.5"
redis = "^3.3"
fakeredis = "^1.1.0"
coverage = "^5.5"
flake8_polyfill = "^1.0.2"
PyYAML = "^5.4.1"
redis-py-cluster = "^2.1.3"
django-redis = "^5.0.0"
Django = "^3.2.8"
pre-commit = "^2.17.0"
pytest = "^6.2"
pytest-cov = "^3.0"
nox = "^2022.1.7"
nox-poetry = ">=0.8"
pytest-xdist = "^2.5.0"

[tool.black]
line-length = 120

[tool.coverage.run]
branch = true
source = ['pyrate_limiter']

[tool.coverage.xml]
output = 'test-reports/coverage.xml'

[tool.ipdb]
context=7

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
