[tool.poetry]
name = "pyrate-limiter"
version = "2.1.0"
description = "Python Rate-Limiter using Leaky-Bucket Algorimth Family"
authors = ["vutr <me@vutr.io>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/vutran1710/PyrateLimiter"
repository = "https://github.com/vutran1710/PyrateLimiter"
keywords = ["rate", "rate-limiter", "rate_limiter", "ratelimiter", "leaky-bucket"]
classifiers = [
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Documentation",
    "Topic :: Software Development :: Libraries :: Python Modules",
]
include = [
    "LICENSE",
]

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.dev-dependencies]
pytest = "^3.0"
autopep8 = "^1.4"
flake8 = "^3.7"
pylint = "^2.4"
logzero = "^1.5"
pytest-cov = "^2.8"
redis = "^3.3"
fakeredis = "^1.1.0"
jedi = "^0.15.2"
yapf = "^0.29.0"
coveralls = "^2.0.0"

[tool.poetry.scripts]
test = 'scripts:test'
lint = 'scripts:lint'
cover = 'scripts:cover'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
